useDynLib(RRegArch, .registration = TRUE, .fixes = "C_")
export(meanSet)
export(varSet)
export(residualsSet)
export(modelSet)
export(RegArchSim)
export(RegArchFit)
S3method(print, condMeanClass)
S3method(print, ARClass)
S3method(print, MAClass)
S3method(print, ConstMeanClass)
S3method(print, StdInMeanClass)
S3method(print, VarInMeanClass)
S3method(print,LinRegClass)
S3method(print,ConstVarClass)
S3method(print,ARCHClass)
S3method(print,GARCHClass)
S3method(print,EGARCHClass)
S3method(print,TARCHClass)
S3method(print,APARCHClass)
S3method(print,normalClass)
S3method(print,studentClass)
S3method(print, condResidualsClass)
S3method(print, RegArchModelClass)
S3method(print, RegArchFitClass)
S3method(summary, RegArchFitClass)
S3method(print, summary.RegArchFitClass)

